<div class="content-row">
  <div class="content">
  <!--プロフィールと投稿-->
  <% if user_signed_in? && @user.id == current_user.id %>  
    <div class="product-wrap">
      <div class="creater">
        <div class="create-button">
          <%= link_to "料理を投稿する", "/products/new" %>
        </div>  
      </div>
          <% @products.each do |product| %>
            <div class="product">
              <div class="title">
                <%= link_to "#{product.title}","/products/#{product.id}" %>
                <%= link_to "編集", "/products/#{product.id}/edit" %>
                <%= link_to "削除", "/products/#{product.id}", method: :DELETE %>
              </div>
              <%= link_to image_tag("#{product.image}", :class => "image", :width => "100%"), "/products/#{product.id}" %>
          </div>
          <% end %>
      </div>
  <% else %>
    <div class="product-wrap">
        <% @products.each do |product| %>
          <div class="product">
            <div class="title">
              <%= link_to "#{product.title}", "/products/#{product.id}" %>
            </div>
            <%= link_to image_tag("#{product.image}", :class => "image", :width => "100%"), "/products/#{product.id}" %>
          </div>  
        <% end %>
      </div>  
  <% end %>  
  </div>
</div>
