<!DOCTYPE html>
<html>
  <head>
    <title>OriginalApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header clearfix">
      <div class="header-top">
        <h3>OriginalApp</h3>
      </div>  
      <div class="header-nav">
        <div class="search-form">
          <h3>検索</h3>
        </div>
        <div class="button">
          <h3>新規登録</h3>
        </div>
        <div class="button">
          <h3>ログイン</h3>
        </div>  
      </div>  
    </header>
    
    <%= yield %>
    
    <footer>
    </footer>  
  </body>
</html>
